
Code/.vs/
.git/
.vs/
/Code/VierGewinnt/VierGewinntGameLibrary/x64/Debug
/Code/VierGewinnt/enc_temp_folder/ac3132eaa113e2b728742af8cf93166
Code/VierGewinnt/x64/Debug/ProgramVierGewinnt.exe
Code/VierGewinnt/x64/Debug/ProgramVierGewinnt.ilk
Code/VierGewinnt/x64/Debug/VierGewinntGame.lib
